* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 900px;
    height: 700px;
    margin: 100px auto;
    border: 1px solid gray;

    display: grid;
    gap: 15px;
}

/* Common Card Styling */
.card {
    padding: 20px;
    border-radius: 8px;
}

/* Grid Placement */
.child1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: whitesmoke;
}

.child2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: grey;
    color: white;
}

.child3 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: red;
    color: white;
}

.child4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: blue;
    color: white;
}

.child5 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: yellow;
}

/* Profile Section */
.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.profile img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.profile h5 {
    font-weight: normal;
    opacity: 0.8;
}

.bold-text {
    font-weight: bold;
    margin-bottom: 10px;
}

@media screen and (max-width:600px){
    /* stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent div{
        grid-column: auto;
        grid-row: auto;
    }
}