*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid gray;
    

    /* make grid container */
    display: grid;
    /* rows and colomuns*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}

.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: whitesmoke;
}
.child1 p,.child1 h4{
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
}

.child1 img{
    flex: 0 0 100px;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-top: -100px;
    padding-right: 40px;
}

.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: gray;
}
.child2 h5{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.child2 p{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: crimson;
}
.child3 img{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.child3 p{
    text-align: center;
    color: white;
    font-weight: bold;
}


.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: whitesmoke;
    display: flex;
}
.child4 a{
    text-decoration: none;
    color: brown;
}

.box1{
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.box1 img{
   padding-top: 20px;
}
.box1 p{
    font-weight: bolder;
}

.box2{
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
}


.child5{
    grid-column: 4/5;
    grid-row: 2/5;
    background-color: violet;
}
.icloud{
    margin-top: 30px;
    background-color: rgba(22, 17, 22, 0.181);
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.icloud h5,.child5 h4{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.5rem;
}
.icloud p{
    text-align: center;
}
.child5 button{
    background-color: yellow;
    border-radius: 3px;
    border: none;
    width: 100px;height: 20px;
    margin-top: 20px;
    margin-left: 40px;
}
.icloud img{
     padding-left: 40px;
     margin-left: 30px;
}

.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: whitesmoke;
}

.child6 img{
    margin-left: 50px;
}
.child6 h4{
    text-align: center;
}
.child6 a{
    text-decoration: none;
    padding-left: 70px;
    color: blue;
}

.child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: skyblue;
}

.child7 img{
    padding-left: 140px;
    margin-top: 50px;
}

.child7 p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}


@media screen and (max-width:600px){
    /* stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent div{
        grid-column: auto;
        grid-row: auto;
    }
}