*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgba(255, 0, 0, 0.889);
}

/* HEADER */
header{
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

header .logo {
    margin-left: 5%;
    color: red;
    font-weight: bold;
}

/* HERO */
main{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 5%;
}

main img{
    width: 150px;
}

/* BLOCK SECTION */
.blocks{
    display: flex;
}

.block{
    background-color: rgb(80, 36, 36);
    height: 410px;
    padding: 30px;
    flex: 1;
    color: white;
    border-right: 3px solid red;
}

.block:last-child{
    border-right: none;
}

.block h2{
    margin-bottom: 15px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px){

    main{
        flex-direction: column;
        text-align: center;
    }

    main img{
        margin-top: 20px;
    }

    .blocks{
        flex-direction: column;
    }

    .block{
        border-right: none;
        border-bottom: 3px solid red;
    }

    .block:last-child{
        border-bottom: none;
    }
}
