*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

/* for header part */
header{
    background-color:whitesmoke;
    height: 325px;
    width: 100%;
}
.head h1{
    font-size: 3rem;
    padding: 20px;
    font-weight: 100;
}
.head p{
    font-size: 1.2rem;
    padding: 10px;
}
.head button{
    font-size: 1.2rem;
    padding: 13px;
    margin: 5px;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 5px;
}
.head{
    padding: 20px;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 25px;
}


.row{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 10px;

}

/* for cards */
.card h3{
    font-size: 1.5rem;
    font-weight: 200;
}
.card button{
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
hr{
    margin-left: 12%;
    margin-right: 16%;
    font-size: 1rem;
}
footer{
    margin-left: 12%;
    margin-top: 20px;
}